:root{
    /* Colors */
    --not-cadet-blue: #182A62;
    --green: #33AB5F;
    --grey: #E7E7DE;
    
    /* Font Families */
    --title-font-family: "Pridi", Georgia;
    --body-font-family: "Noto Sans", Verdana, sans-serif;
    
    /* Font Sizes */
    --mobile-title: 2.4rem;
    --mobile-subtitle: 1.8rem;
    --mobile-text: 1.4rem;
    --mobile-small-text: 1.2rem;
    --mobile-button: 1.6rem;
    --mobile-button-small: 1.2rem;

    --tablet-title: 4.2rem;
    --tablet-subtitle: 3rem;
    --tablet-text: 2rem;
    --tablet-small-text: 1.6rem;
    --tablet-button: 1.8rem;
    --tablet-button-small: 1.4rem;

    /* Button Sizes */

    --mobile-call-to-action-width: 200px;
    --mobile-call-to-action-height: 50px;
    
    --mobile-small-button-width: 75px;
    --mobile-small-button-height: 25px;

    --tablet-call-to-action-width: 225px;
    --tablet-call-to-action-height: 60px;

    --tablet-small-button-width: 100px;
    --tablet-small-button-height: 35px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 50px;
    background-color: var(--not-cadet-blue);
    border-bottom: 5px solid #33AB5F;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--body-font-family);
}

header li{
    display: inline-block;      
}

.header__download-button{
    width: var(--mobile-small-button-width);
    height: var(--mobile-small-button-height);
    font-size: var(--mobile-button-small);
    background-color: var(--green);
    border-radius: 12px;
    text-align: center;
}

.header__download-button a{
    width: var(--mobile-small-button-width);
    height: var(--mobile-small-button-height);
}

.header__contact-button{
    width: 43px;
    height: 20px;
    font-size: var(--mobile-button-small);
    margin-left: 16px;
    margin-right: 16px;
    width: 50px;
}

.header__contact-button a{
    height: 25px;
    width: 60px
}

.header__link{
    display: inline-block;
    color: var(--grey);
    text-decoration: none;
    line-height: 2.5rem;
    vertical-align: text-bottom;
    align-items: center;
    list-style: none;
}

.cover-section{
    display: grid;
    grid-template: minmax(25px,200px) 1fr minmax(25px,200px) / minmax(20px,75px) 1fr minmax(20px,75px);
    background-color: var(--not-cadet-blue);
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 50px);
}

.introduction-container{
    display: flex; 
    grid-column-start: 2;
    grid-row-start: 2;
    height: 100%;
    width: 100%;
    min-height: 200px;
    max-height: 800px;
    min-width: 250px;
    max-width: 800px;
    margin: auto;
    border: 5px solid var(--green);
    flex-direction: column;
    color: var(--grey);
    justify-content: center;
    align-items: center;
}

.introduction-container__greeting{
    font-family: var(--title-font-family);
    color: var(--grey);
    font-size: var(--mobile-title);
}

.introduction-container__name{
    font-family: var(--title-font-family);
    color: var(--grey);
    font-size: var(--mobile-title);
    margin: 0 0 15px 0
}
.introduction-container__name_green{
    color: var(--green);
    font-weight: 500;
}
.introduction-container__description{
    font-family: var(--body-font-family);
    font-size: var(--mobile-subtitle);
    color: var(--grey);
    text-align: center;
    margin-top: 15px;
}

.self-introduction-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 550px;
    max-height: 700px;
    width: 100vw;
    max-width: 100%;
    background-color: var(--green);
}

.section-title{
    font-size: var(--mobile-title);
    color: var(--not-cadet-blue);
    font-family: var(--title-font-family);
    font-weight: 500;
}

.self-introduction-section__title{
    margin: 30px 0;
}

.self-introduction-section__description{
    font-size: var(--mobile-text);
    font-family: var(--body-font-family);
    align-self: flex-end;
    text-align: right;
    margin-right: 10px;
    width: 75vw;
    max-width: 600px;
    margin-bottom: 50px;
    color: var(--grey);
    line-height: 2.2rem;
}

.self-introduction-section__description span{
    color: var(--not-cadet-blue);
    font-weight: bold;
}

.self-introduction-section__skills{
    width: 80%;
    height: 200px;
    max-width: 400px;
    font-family: var(--body-font-family);
    margin-bottom: 50px;
}

.self-introduction-section__skills th{
    color: var(--grey);
    font-size: var(--mobile-text);
    font-weight: 500;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--grey);
    margin: 0 50px;
}

.self-introduction-section__skills td{
    margin-left: 50px;
    margin-right: 50px;
    color: var(--not-cadet-blue);
    font-size: var(--mobile-text);
    text-align: center;
}

.self-introduction-section__button{
    display: inherit;
    height: var(--mobile-call-to-action-height);
    width: var(--mobile-call-to-action-width);
    border: none;
    border-radius: 12px;
    background-color: var(--not-cadet-blue);
    font-family: var(--body-font-family);
    color: var(--grey);
    font-size: var(--mobile-button);
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 500px;
    max-height: 600px;
    width: 100vw;
    max-width: 100%;
    background-color: var(--grey);
}

.projects-section__title{
    margin: 30px auto;
}

.projects-section__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px 110px 110px ;
    grid-gap: 15px;
    margin: 0 15px;
}

.project{
    background-color: var(--not-cadet-blue);
    max-width: 200px;
}

.project a{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.project__title{
    font-size: var(--mobile-subtitle);
    color: var(--green);
    font-family: var(--title-font-family);
    margin-top: 15px;
    line-height: 2rem;
    padding: 0 10px;
}

.project__description{
    margin-top: 8px;
    font-size: var(--mobile-small-text);
    color: var(--grey);
    font-family: var(--body-font-family);
    padding: 0 10px;
}

.contact-section{
    display: flex;
    height: 100vh;
    min-height: 500px;
    max-height: 600px;
    width: 100vw;
    max-width: 100%;
    background-color: var(--not-cadet-blue);
    flex-direction: column;
    align-items: center;
}

.contact-section__title{
    color: var(--grey);
    margin: 30px auto;
}

.contact-section span{
    font-size: var(--mobile-title);
    color: var(--grey);
    font-family: var(--title-font-family);
    font-weight: 500;
    margin: 30px auto;
}

.contact-section span:nth-child(3){
    width: var(--mobile-call-to-action-width);
    height: var(--mobile-call-to-action-height);
    border: none;
    border-radius: 12px;
    background-color: var(--green);
    color: var(--grey);
    font-size: var(--mobile-button);
    margin: 30px auto;
    font-family: var(--body-font-family);
}

.contact-section span:nth-child(3) a{
    color: var(--grey);
    width: inherit;
    height: inherit;
    line-height: 50px;
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: inline-block;
}


.contact-section__logo-container{
    display: flex;
    margin: 30px auto;
    height: 50px;
    width: 200px;
    justify-content: space-around;
}

.logo{
    height: 50px;
    width: 50px;
}

.logo a{
    display: inline-block;
    height: 50px;
    width: 50px;
}

.github{
    background-image: url("../logos/github.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.linkedin{
    background-image: url("../logos/linkedin.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 56px;
}