:root{
    /* Colors */
    --not-cadet-blue: #182A62;
    --green: #33AB5F;
    --grey: #E7E7DE;
    --title-font-family: "Pridi", Georgia;
    --body-font-family: "Noto Sans", Verdana, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: var(--not-cadet-blue);
    border-bottom: 5px solid #33AB5F;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--body-font-family);
}

header li{
    display: inline-block;      
}

.header__download-button{
    width: 75px;
    height: 25px;
    font-size: 1.2rem;
    background-color: var(--green);
    border-radius: 12px;
    text-align: center;
   
}

.header__contact-button{
    width: 43px;
    height: 20px;
    font-size: 1.2rem;
    margin-left: 16px;
    margin-right: 16px;
}

.header__link{
    color: var(--grey);
    text-decoration: none;
    line-height: 2.5rem;
    vertical-align: text-bottom;
    align-items: center;
    list-style: none;
}

.cover-section{
    display: grid;
    grid-template: minmax(25px,200px) 1fr minmax(25px,200px) / minmax(20px,75px) 1fr minmax(20px,75px);
    background-color: var(--not-cadet-blue);
    width: 100vw;
    height: calc(100vh - 50px);
}

.introduction-container{
    display: flex; 
    grid-column-start: 2;
    grid-row-start: 2;
    height: 100%;
    width: 100%;
    min-height: 400px;
    max-height: 800px;
    min-width: 250px;
    max-width: 800px;
    margin: auto;
    border: 5px solid var(--green);
    flex-direction: column;
    color: var(--grey);
    justify-content: center;
    align-items: center;
}

.introduction-container__greeting{
    font-family: var(--title-font-family);
    color: var(--grey);
    font-size: 2.4rem;
}

.introduction-container__name{
    font-family: var(--title-font-family);
    color: var(--grey);
    font-size: 2.4rem;
    margin: 0 0 15px 0
}
.introduction-container__name_green{
    color: var(--green);
    font-weight: 500;
}
.introduction-container__description{
    font-family: var(--body-font-family);
    font-size: 1.8rem;
    color: var(--grey);
    text-align: center;
    margin-top: 15px;
}

.self-introduction-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--green);
}
