header{
    height: 75px;
}

.header__download-button{
    width: 125px;
    height: 40px;
    font-size: 1.4rem;
}

.header__contact-button{
    width: 50px;
    height: 20px;
    font-size: 1.4rem;
    margin-left: 25px;
    margin-right: 25px;
}

.header__link{
    line-height: 4rem;
}